* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

.App {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
}

.App input {
    width: 16rem;
    height: 2rem;
}

.App textarea {
    width: 16rem;
    height: 10rem;
}
